<ion-header>
  <ion-toolbar>
    <ion-title>
      <img
        src="/assets/image/logo-cerro-horizontal.png"
        width="60%"
        height="60%"
      />
    </ion-title>
    <ion-item>
      <ion-label>Categorías</ion-label>
      <ion-select interface="popover" (ionChange)="searchCategory($event)">
        <ion-select-option
          *ngFor="let category of categories"
          value="{{category.id}}"
          >{{category.nom}}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-chip  style="background-color: #152a6d;">
    <ion-label style="color: white"
      ><strong>Publicidad</strong></ion-label
    >
  </ion-chip>

  <ion-slides style="padding-top: 12px" [options]="slideOpts">
    <ion-slide *ngFor="let new of news">
      <ion-avatar class="album-avatar square-avatar">
        <img
          style="
            width: auto;
            height: 200px;
            border-radius: 10px 10px;
            box-shadow: -1px -1px 12px 1px #d7d8da;
          "
          [src]="new.image"
        />
      </ion-avatar>
    </ion-slide>
  </ion-slides>

  <div class="container">
    <ion-spinner *ngIf="showSpinner" color="primary"></ion-spinner>
  </div>
  <ion-card *ngFor="let new of news" [routerLink]="['/','news-detail', new.id]">
    <img style="border-radius: 0 0 50px 50px" src="{{new.image}}" />
    <ion-card-header style="padding-bottom: 0px !important">
      <ion-chip *ngIf="category" style="background-color: #152a6d">
        <ion-label style="color: white"
          ><strong>{{new.category}}</strong></ion-label
        >
      </ion-chip>
      <ion-card-title>{{new.tittle}}</ion-card-title>
    </ion-card-header>
    <ion-item-divider>
      <ion-card-subtitle>
        <ion-icon name="calendar-sharp"></ion-icon>
        Publicada: {{new.created_at| date:'dd/MM/yyyy'}}
      </ion-card-subtitle>
    </ion-item-divider>
    <ion-card-content
      style="line-height: 1.5em; text-align: justify; color: black"
    >
      {{new.short_content}}
    </ion-card-content>
  </ion-card>
</ion-content>
