ion-card {
  margin: 16px !important;
  //padding: 0 !important;
  text-align: left !important;
  //border-radius: 10px 10px 10px 10px !important;
  border-radius: 10px !important;
  background-color: white !important;
  box-shadow: 1px 5px 5px 1px #d7d8da; //2px 10px 12px rgba(0, 0, 0, 0.5);
}

ion-card:hover { 
  transform-style: preserve-3d !important;
  transform: scale(1.02) !important;
  transition: all ease 0.3s !important;
  border-color: none !important;
}

ion-toolbar {
  text-align: center;
}

ion-title {
  background-color: #152a6d; //#005587 !important;
}

ion-item-divider {
  --ion-background-color: white !important;
}

.container {
  text-align: center;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.category-slide {
  position: absolute;
  top: 5%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  background-color: #005587;
  //padding: 5px 5px 5px 5px;
  border-radius: 5%; 
}

.category { 
  text-transform: uppercase;
  color: white;
  background-color: #152a6d; //#005587 ;
  padding: 5px 5px 5px 5px;
  border-radius: 2em/1.5em;
  text-align: center;
}

ion-content {
  --ion-background-color: white; //#D5D8DC;
}

.album-avatar {
  width: auto;
  height: auto;  
}
.square-avatar {
  --border-radius: 0;
}
ion-slide {
  margin: 0 20px 0 20px;
  font-size: 12px;
}
h1 {
  font-size: 18px;
  color: var(--ion-color-success);
  margin-top: 30px;
}
ion-icon {
  font-size: 26px;
}
.time-marker {
  color: white;
  font-size: 14px;
}
ion-progress {
  margin-bottom: 10px;
}
h2 {
  font-size: 16px;
  margin-top: 3px;
}