<ion-header>
  <ion-toolbar>
    <ion-title>
      <img
        src="/assets/image/logo-cerro-horizontal.png"
        width="60%"
        height="60%"
      />
    </ion-title>
    <div>
      <ion-item>
        <ion-label>Categorías</ion-label>
        <ion-select
          style="
            font-weight: bold;
            background: #d7d8da;
            color: black;
            border-radius: 10px;
          "
          interface="popover"
          (ionChange)="searchCategory($event)"
        >
          <ion-select-option value="0">Todas</ion-select-option>
          <ion-select-option
            *ngFor="let category of categories"
            value="{{category.id}}"
            >{{category.nom}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>
<br />
<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <ion-spinner *ngIf="showSpinner" color="primary"></ion-spinner>
  </div>
  <ion-card *ngFor="let new of news" [routerLink]="['/','news-detail', new.id]">
    <img style="border-radius: 0 0 50px 50px" src="{{new.image}}" />
    <ion-card-header style="padding-bottom: 0px !important">
      <ion-chip *ngIf="category" style="background-color: #152a6d">
        <ion-label style="color: white"
          ><strong>{{new.category}}</strong></ion-label
        >
      </ion-chip>
      <ion-card-title>{{new.tittle}}</ion-card-title>
      <ion-card-subtitle>
        {{new.created_at| date:'MMMM d, y'}}
      </ion-card-subtitle>
      <br />
    </ion-card-header>
  </ion-card>
</ion-content>
