<ion-header [translucent]="true">
  <ion-toolbar>     
    <ion-title>
      <img src="/assets/image/logo-cerro-horizontal.png" width="60%" height="60%"/>      
    </ion-title>  
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true">
    <div class="contenedor" >
      <div class="container">
        <ion-spinner *ngIf="showSpinner" color="primary"></ion-spinner>
      </div>
       
      <div class="banner">
        <img style="border-radius: 0 !important;"
          src="https://admin.bluradio.com/sites/default/files/styles/galleria_amp_resize_1280_169/public/blog_deportivo_blu_radio_9.png?itok=gjEdRkIZ" />
      </div>
      <div class="texto-encima"><strong>estas escuchando</strong></div>
      <div class="centrado"  *ngIf="!showSpinner">
        <button class="button stream" *ngIf="statusAudio" (click)="playAudio()">
          <ion-icon name="play-sharp"></ion-icon>
        </button>
        <button class="button stream" style="padding: 20px 10px 10px 10px !important;" *ngIf="!statusAudio" (click)="stopAudio()">
          <ion-icon name="pause"></ion-icon>
        </button>
      </div>
    </div>
    <br>
    <br>   
    <br> 
    <br> 
    <strong style="padding-left: 16px;">Nuestros Programas</strong>   
  
    <ion-slides pager="true" [options]="slideOpts">      
      <ion-slide>        
          <img src="https://admin.bluradio.com/sites/default/files/styles/galleria_amp_resize_1280_169/public/blog_deportivo_blu_radio_9.png?itok=gjEdRkIZ" />
      </ion-slide>
      <ion-slide>       
          <img src="https://admin.bluradio.com/sites/default/files/styles/blu_medium_650x466/public/blu_radio_blog_deportivo_foto_blu_radio.jpg?itok=z6Sl4g40" />
      </ion-slide>
    </ion-slides> 
</ion-content>
