<ion-header >
  <ion-toolbar>
    <ion-title>
      <img src="/assets/image/logo-cerro-horizontal.png" width="60%" height="60%"/>      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-spinner *ngIf="showSpinner" color="primary"></ion-spinner>
  </div>

  <ion-card *ngIf="!showSpinner" >
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img
          src="https://admin.bluradio.com/sites/default/files/styles/galleria_amp_resize_1280_169/public/blog_deportivo_blu_radio_9.png?itok=gjEdRkIZ" />
      </ion-slide>
      <ion-slide>
        <img
          src="https://admin.bluradio.com/sites/default/files/styles/blu_medium_650x466/public/blu_radio_blog_deportivo_foto_blu_radio.jpg?itok=z6Sl4g40" />
      </ion-slide>
      <ion-slide>
        <img
          src="https://admin.bluradio.com/sites/default/files/styles/blu_medium_650x466/public/blu_radio_blog_deportivo_foto_blu_radio.jpg?itok=z6Sl4g40" />
      </ion-slide>
      <ion-slide>
        <img
          src="https://admin.bluradio.com/sites/default/files/styles/blu_medium_650x466/public/blu_radio_blog_deportivo_foto_blu_radio.jpg?itok=z6Sl4g40" />
      </ion-slide>
    </ion-slides>
    <ion-card-header>
      <ion-card-title>Información de Contacto</ion-card-title>
    </ion-card-header>
    <ion-item-divider>
      <ion-card-subtitle>
        <ion-icon name="call-sharp"></ion-icon>
        {{infoContact.cellphone}}
      </ion-card-subtitle>
    </ion-item-divider>
    <ion-item-divider>
      <ion-card-subtitle>
        <ion-icon name="logo-whatsapp"></ion-icon>
        {{infoContact.whatsapp}}
      </ion-card-subtitle>
    </ion-item-divider>
    <ion-item-divider>
      <ion-card-subtitle>
        <ion-icon name="location-sharp"></ion-icon>
        {{infoContact.adress}}
      </ion-card-subtitle>
    </ion-item-divider>
    <ion-item-divider>
      <ion-card-subtitle>
        <ion-icon name="mail-sharp"></ion-icon>
        {{infoContact.email}}
      </ion-card-subtitle>
    </ion-item-divider>
    <ion-item-divider>
      <ion-card-subtitle>
        <ion-icon name="globe-sharp"></ion-icon>
        {{infoContact.site}}
      </ion-card-subtitle>
    </ion-item-divider>
    
  </ion-card>
</ion-content>