ion-toolbar {
  text-align: center;
}

ion-title {
  background-color: #152a6d; //#005587 !important;
}

ion-content {
  --ion-background-color: white; //#D5D8DC;
}

ion-card {
  margin: 16px !important;
  //padding: 0 !important;
  text-align: center !important;
  //border-radius: 10px 10px 10px 10px !important;
  border-radius: 10px !important;
  background-color: white !important;
  box-shadow: 1px 1px 5px 1px #d7d8da;
}
ion-item-divider {
  --ion-background-color: white !important;
  text-align: center !important;
}

.container {
  text-align: center;
}

ion-card-subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  color: black;
}

ion-card-header {
  padding-bottom: 0;
}

ion-card-title {
  padding-bottom: 10px;
  font-weight: bold;
}

ion-icon {
  font-size: 20px;
  color: #152a6d;
}
