<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title><strong>Noticias</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
    <ion-spinner *ngIf="showSpinner" color="primary"></ion-spinner>
  </div>

  <ion-card *ngIf="!showSpinner">
    <img style="border-radius: 0 0 50px 50px" src="{{newsDetail.image}}" />
    <div class="container-news"></div>
    <ion-card-header>
      <ion-card-title>{{newsDetail.tittle}}</ion-card-title>
    </ion-card-header>
    <ion-card-subtitle>
      {{newsDetail.created_at| date:'MMMM d, y'}}
    </ion-card-subtitle>
    <ion-item style="padding: 10px; padding-right: 24px">
      <ion-avatar slot="start">
        <img
          src="{{newsDetail.avatar_author}}"
        />
      </ion-avatar>
      <ion-label>
        <h3 style="font-weight: bold">{{newsDetail.author}}</h3>
        <p>Autor</p>
      </ion-label>
    </ion-item>
    <ion-card-content
      style="
        margin-left: 24px;
        font-style: oblique;
        background-color: cornsilk;
        font-weight: bold;
        border-radius: 10px 0 0 10px;
      "
    >
      "{{newsDetail.short_content}}"
    </ion-card-content>
    <ion-card-content
      style="
        line-height: 1.5em;
        text-align: left;
        color: dimgrey;
        padding: 24px;
        font-size: 16px;
      "
    >
      {{newsDetail.content}}
    </ion-card-content>
  </ion-card>
</ion-content>
